h1{ font-size: 25px;text-align:center;}
img.photo1{width: 600px; height: auto; min-height: 200px; display:block; margin:auto;}
*{background-color: #cef5ff;}
img.photo2{width: 150px;display:block; margin:auto;}
